# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
.idea/codeception.xml
.idea/workspace.xml
.idea/modules.xml
.idea/*.iml
.idea/dictionaries/
.idea/dataSources*
.idea/httpRequests*
.idea/shelf*
.idea/.name
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

sqlite